<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="android.uid.system"
    tools:ignore="Deprecated">

    <application
        android:allowBackup="false"
        android:label="PenumbraHook">
        <!-- No activities, no receivers, no services.
             This APK exists only to be loaded into other processes
             via sharedLibraryFiles. -->
    </application>
</manifest>
